body {
    background: radial-gradient(#00e8f0, #007075);
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;

  }


.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.home-container h1 {
    font-size: 2.5em;
    color: #007BFF;
    text-align: center;
    margin-bottom: 20px;
}

.home-container p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}


.section, .challenge, .next-steps {
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section h2, .challenge h2, .next-steps h2 {
    font-size: 1.8em;
    color: #222;
    margin-bottom: 10px;
    text-align: center;
}

.challenge p, .section p, .next-steps p {
    font-size: 1em;
    color: #444;
}


@media (max-width: 768px) {
    .home-container {
        padding: 15px;
    }
    
    .home-container h1 {
        font-size: 2em;
    }
    
    .section, .challenge, .next-steps {
        padding: 15px;
    }
}

  