body {
    background: radial-gradient(#00e8f0, #007075);
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    /* padding: 20px; */
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007BFF;
}

.subject-selection {
    margin: 20px 0;
}

button {
    background-color: #007BFF;
    color: rgb(98, 32, 32);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #39424c;
}
