{% block head %}
    <title>problems</title>
{% endblock %}

{% block body %}
  <div class="easy level problems: + & -">
    <h2>Problems: Easy Level</h2>
    <ol>
      <li>4 + 3 =</li>
      <li>9 - 4 =</li>
      <li>12 + 2 =</li>
      <li>4 - 4 =</li>
      <li>4 + 16 =</li>
      <li>22 + 10 =</li>
      <li>10 - 9 =</li>
      <li>16 + 18 =</li>
      <li>72 - 48 =</li>
      <li>100 - 37 =</li>
    </ol>
  </div>

  <div class="medium level problems: * & \">
    <h2>Problems: Medium Level</h2>
    <ol>
      <li>5 * 4 =</li>
      <li>12 / 6 =</li>
      <li>5 * 9 =</li>
      <li>80 / 10 =</li>
      <li>9 * 9 =</li>
      <li>32 / 6 =</li>
      <li>51 * 3 =</li>
      <li>17 / 3 =</li>
      <li>88 * 6 =</li>
      <li>33 / 5 =</li>
    </ol>
  </div>

  <div class="hard level problems: basic algebra">
    <h2>Problems: Hard Level</h2>
    <ol>
      <li>21 + x = 26</li>
      <li>12 + 2x = 16</li>
      <li>4x - 2 = 10</li>
      <li>7x - 4 = 10</li>
      <li>x + 24 = 96</li>
      <li>17x + 12 = 54 - 4x</li>
      <li>6x - 16 = 5x - 9</li>
      <li>7x - 12 + 5 = 8x - 24</li>
      <li>2(5x + 1) = x + 2</li>
      <li>(3 - 2x) + 3(1 - 4x) - 4(1 - 5x) = 2(1 - 3x)</li>
    </ol>
  </div>
    
{% endblock %}