{% extends 'base.html' %}

{% block head %}
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block body %}
<div class="home-container">
    <h1>Welcome to the Recall Royale!</h1>
    <p>Test your skills with our interactive flashcard game! Start with easy problems and work your way up to more challenging ones. Can you conquer all levels?</p>
    <br>
    <div class="section">
        <h2>How to Play</h2>
        <p>Each flashcard will present a problem from the chosen dataset. Solve enough correctly to move on to the next one. As you progress, the difficulty increases!</p>
        <p>Once you conquered a level you can move onto the next stage</p>
        <p>Once you solve one problem you will be able to move onto the next one</p>
        <p>There will be 3 levels of difficulty you will need to pass through in order to complete a topic</p>
        <br>
    </div>
    <div class="challenge">
        <h2> About this project </h2>
        <p> This project was created for the MLH Open Source Hackfest</p>
        <p> The dataset can be of anytopic so it doesnt need to just be proggramming related topics</p>
        <p> select from one of our premade datasets or choose one created by your peers</p>
        <p> help teach others to code by uploading your own dataset of problems</p>
        <br>
    </div>
    <div class="next-steps">
        <h2> Next Steps </h2>
        <p>For security reasons we made it so that you will have to use your own databases our next step will be to find a way to properly secure the main database so that we can open it up to the public and allow you to share databases with others to make it truly opensourse</p>
        <p>We want to add more games you can play with the data set</p>
        <p>We want to add achievents and statistics so you can compare them and compete with your friends</p>
    </div>
</div>
{% endblock %}
