{% extends 'base.html' %}

{% block head %}
<title>Create Database</title>
{% endblock %}

{% block body %}

<form id="qaForm" action="/create" method="POST">
    <div id="title">
        <div class="title"></div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
    </div>

    <div id="qaContainer">
        <br>
        <h2>Easy Questions and Answers</h2>
        <div class="question-answer">
            <label for="question1">Question 1:</label>
            <input type="text" id="question1" name="question1" required>
            <label for="answer1">Answer:</label>
            <input type="text" id="answer1" name="answer1" required>
        </div>
    </div>
    <br>
    <button type="button" onclick="addQuestion();">Add Another Question</button><br><br>
    <input type="submit" value="Submit">
</form>

<script>
    let questionCount = 1;

    function addQuestion() {
        questionCount++;

        
        const qaDiv = document.createElement('div');
        qaDiv.classList.add('question-answer');

       
        const questionLabel = document.createElement('label');
        questionLabel.setAttribute('for', `question${questionCount}`);
        questionLabel.innerText = `Question ${questionCount}:`;

        const questionInput = document.createElement('input');
        questionInput.setAttribute('type', 'text');
        questionInput.setAttribute('id', `question${questionCount}`);
        questionInput.setAttribute('name', `question${questionCount}`);

       
        const answerLabel = document.createElement('label');
        answerLabel.setAttribute('for', `answer${questionCount}`);
        answerLabel.innerText = ' Answer:';

        const answerInput = document.createElement('input');
        answerInput.setAttribute('type', 'text');
        answerInput.setAttribute('id', `answer${questionCount}`);
        answerInput.setAttribute('name', `answer${questionCount}`);

      
        qaDiv.appendChild(questionLabel);
        qaDiv.appendChild(questionInput);
        qaDiv.appendChild(answerLabel);
        qaDiv.appendChild(answerInput);

      
        const qaContainer = document.getElementById('qaContainer');
        qaContainer.appendChild(qaDiv);
    }
</script>

{% endblock %}
