{% extends 'base.html' %}

{% block head %}
<title>Recall Royale</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> 
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Welcome to the Recall Royale!</h1>
    <p>Choose between different cardsets!</p>

    <h2>About the Project</h2>
    <p><strong>Recall Royale</strong> is an interactive platform that transforms learning into an engaging experience.
        It's designed to support diverse subjects, allowing users to create and share their own content. This
        open-source project invites collaboration, encouraging a community-driven approach to education. Have fun!</p>

    <div class="subject-selection">
        <label for="Dataset">Select a Subject:</label>
        <select id="subjects">
            <option value="math">Math</option>
            <option value="science">Science</option>
            <option value="history">History</option>
            <option value="language">Language</option>
        </select>
    </div>

    <div class="button-container">
        <button onclick="window.location.href='/play';">Start Game</button>
        <button onclick="window.location.href='/create';">Create Dataset</button>
    </div>
    {% endblock %}

    <script>
        function startGame() {
            alert('CLICKED START GAME')
            const subject = document.getElementById('subjects').value;
            window.location.href = `/play?subject=${subject}`; // Redirect to the play page with the selected subject
        }
    </script>