{% extends 'base.html' %}

{% block head %}
<title>Play</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
{% endblock %}

{% block body %}
<div class="flashcard">
    <div class="flashcard-inner" id="flashcard">
        <div class="flashcard-front">
            1+1
        </div>
        <div class="flashcard-back">
            2
        </div>
    </div>
</div>

<div class="input">
    <label for="input"> Answer:</label>
    <input type="text" id="answer" placeholder="Enter your Answer">
    <button onclick="flipCard()">Check Answer</button>

    <script>
        function flipCard() {
            var card = document.getElementById('flashcard');
            card.classList.toggle('flipped');
        }
    </script>
</div>

{% endblock %}